.inquiry_lst {
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 10px 0;
}

.inquiry_lst:hover {
  background-color: gray;
}

.inquiry_idx {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
}

.inquiry_info {
  width: 65%;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  overflow: hidden; /* 내용이 너무 길어지면 숨깁니다. */
  white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 설정합니다. */
  text-overflow: ellipsis; /* 텍스트가 가로 한 줄을 초과할 경우 생략 기호(...)를 표시합니다. */
}

.inquiry_date {
  width: 25%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sel_inquiry {
  background-color: red;
}
