.Page {
  width: 100%;
  height: auto;
  /* background: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    #ffffff,
    #90d0f6,
    #ffffff,
    #ffffff,
    #1daeff,
    #ffffff
  ); */
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.Page::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
