.Page {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgb(206, 255, 204) 50%,
    #ffffff 100%
  );
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
  overflow-x: hidden;
}

.wrap {
  height: 100%;
  contain: paint;
}

.btnContainer {
  position: absolute;
  bottom: 0px;
  left: 5%;
  display: flex;
  flex-direction: column;
}
.down {
  width: 150px;
  margin-top: 15px;
  margin-left: 20px;
  background-color: #1daeff;
  padding: 5px 35px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  border-radius: 7.5px;
}

.PathContainer {
  z-index: -1;
  position: fixed;
}

body {
  background: rgb(255, 255, 255);
}

.airplane {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  /* transform: rotate(180deg); */
  offset-distance: 0%;
  offset-rotate: auto 90deg;
  offset-path: path(
    "m446.46.12c8.22,32.35,24.36,113.97-8,209-9.06,26.6-45.87,134.7-146,188-104.79,55.78-176.57-2.96-242,58-45.7,42.58-61.78,118.86-41,175,32.52,87.87,150.18,112.5,229,129,50.53,10.58,92.48,13.35,433,8,52.34-.82,107.73-1.77,167,30,71.98,38.58,106.26,101.47,116,120,47.85,91.06,62.63,236.45-10,314-110.92,118.43-390.61,41.14-412,35-37.25-10.7-104.26-34.12-194-27-77.62,6.16-111.82,30.36-123,39-37.89,29.28-86.22,90.4-67,139,19.37,48.98,96.17,57.32,130,61,71,7.72,139.18-15.43,158-22,30.4-10.62,43.17-19.25,75-24,19.41-2.9,42.4-3.82,94,4,33.67,5.1,79.31,13.9,133,30,0,0,89.22,34.97,155,94,10.87,9.76,28.16,26.51,41,53,7.49,15.45,18.35,38.66,14,68-.58,3.9-4.76,29.84-24,51-34.64,38.08-93.41,33.53-139,30-41.69-3.23-96.1-7.44-135-49-5.81-6.2-41.52-44.36-30-73,13.48-33.52,84.1-35.26,128-25,63.84,14.92,97.98,61.49,104,70,10.75,15.18,42.89,60.55,31,118-9.49,45.87-41.44,72.32-51,80-52.52,42.2-117.15,31.88-155,26-29.87-4.64-65.19-10.65-92-40-3.78-4.14-35.76-39.15-25-66,12.99-32.42,80.7-34.07,123-24,15.35,3.65,60.62,15.17,92,59,5.57,7.78,46.45,66.3,22,129-18.08,46.36-60.4,65.62-81,75-49.6,22.58-94.88,14.54-121,10-23.69-4.12-45.31-8.18-65-26-1.74-1.57-38.44-35.58-29-65,10.36-32.28,71.04-42.72,112-31,45.11,12.91,72.36,54.39,74,57,.57.91,1.44,2.29,2.5,4.09,15.41,26.1,27.22,71.96,9.5,114.91-24.77,60.01-90.67,73.79-106,77-13.21,2.76-49.63,9.85-88-8-5.12-2.38-60.45-28.81-57-61,3.07-28.68,51.15-46.51,86-47,4.42-.06,53.03.06,86,39,22.46,26.53,34.02,66.76,24,100-26.21,86.98-206.08,145.54-310,94-22.06-10.94-46.06-29.61-86-31-8.9-.31-62.22-2.16-96,35-45.97,50.57-17.29,131.12-12,145,28.79,75.46,102.1,108.13,116,114,140.98,59.58,233.59-95.62,423-65,19.19,3.1,161.95,27.97,188,120,19.09,67.46-31.78,145.41-84,184-23.19,17.14-37.6,19.82-194,57-116.66,27.73-136.23,32.79-161,53-36.81,30.03-80.19,89.48-70,152,13.22,81.17,109.05,120.35,162,142,82,33.53,156.89,31.04,218,29,60.75-2.02,113.73-12.1,150-19,60.26-11.46,104.63-24.58,116-28,46.95-14.1,108.16-36.06,177-71"
  );
  /* transition: 1ms; */
}
.track {
  position: absolute;
  left: 50vw;
  top: 0;
  width: 1400px;
  transform: translateX(-50%);
}

.flightPath {
  opacity: 0.8;
  stroke: #69b4ff;
  stroke-width: 20px;
  stroke-dasharray: 30px 15px;
  fill: none;
}

.airplaneScrollTimeline {
  position: relative;
  margin: 100px 0;
}

path {
  stroke-dashoffset: 14;
  /* fill: none; */
}
.districtContainer {
  z-index: 10;
  height: 100%;
}
.districtContainer > div > img {
  width: 250px;
  height: 250px;
}

.districtContainer > div > p {
  font-size: 60px;
  color: #fdfdfd;
}

/* MainPage.module.css */

.distric1 {
  right: 24.5%;
  bottom: -142%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}
.distric2 {
  left: 14.15%;
  bottom: -278%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}
.distric3 {
  right: 29%;
  bottom: -322%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}
.distric4 {
  right: 20.3%;
  bottom: -511%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}
.distric5 {
  left: 13.2%;
  bottom: -573%;
  position: absolute;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}

.distric1 img,
.distric2 img,
.distric3 img,
.distric4 img,
.distric5 img {
  position: absolute;
  margin: 0 auto; /* 이미지를 수평 중앙에 위치 */
  z-index: 0;
}

.distric1 p,
.distric2 p,
.distric3 p,
.distric4 p,
.distric5 p {
  margin: 0 auto; /* 기본 마진 제거 */
  z-index: 1;
}
