.Page {
  width: 100%;
  height: 850px;
  background-image: url("../../../public/assets/MainPage.svg");
  background-size: contain;
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
}
.btnContainer {
  position: absolute;
  bottom: 0px;
  left: 5%;
  display: flex;
  flex-direction: column;
}
.down {
  width: 150px;
  margin-top: 15px;
  margin-left: 20px;
  background-color: #1daeff;
  padding: 5px 35px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  border-radius: 7.5px;
}

.PathContainer {
  z-index: -1;
  position: fixed;
}

svg {
  fill: none;
  width: 1000px;
  stroke-width: 150px;
  color: black;
}

path {
  /* path 내부에 색깔, 전체 svg의 크기는 svg 의 스타일로 바꿔야함*/
  z-index: -1;
  stroke: beige;
  stroke-dasharray: 250 100;
  stroke-dashoffset: 4300.85;
  animation: path 15000ms forwards;
  fill: transparent;
}

@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}
