/*ThirdPage.module.css*/
.Page {
  background-color: rgb(254, 255, 255);
  width: 100%;
  height: 800px;
  display: flex;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
}
.bigContainer {
  width: 100%;
  height: 100%;
  align-items: center;
}

.DeckContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.InfoContainer {
  margin-top: 5%;
  justify-content: flex-start;
  z-index: 1;
}
.InfoContainer > img {
  width: 400px;
  height: 700px;
  z-index: 1;
}
.infos {
  top: 41%;
  left: 15%;
  height: 150px;
  width: auto;
}
.infos > div {
  margin-top: 25px;
  font-size: 18px;
  display: flex-start;
  align-items: center;
  justify-content: center;
  border-color: antiquewhite;
}

.deck {
  position: absolute;
  width: 500px;
  height: 500px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  /* background-color: white; */
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  min-width: 300px;
  max-width: 500px;
  height: 85vh;
  min-height: 300px;
  max-height: 400px;
  will-change: transform;
  border-radius: 10px;
  /* box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3); */
}
