.Page {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  direction: row;
  overflow-x: hidden;
}

.list {
  border-radius: 30px;
  /* background-color: #f8f1f1; */
  justify-content: center;
  position: relative;
  width: 25vw;
  height: 25vw;
  display: flex;
  direction: column;
}

.detailContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.frontpage1 {
  position: absolute;
  width: 15vw;
  height: 20vw;
  background-color: rgb(70, 221, 251);
  border-radius: 20px;
}
.backpage1 {
  position: absolute;
  margin-bottom: -1.5%;
  margin-left: -1.5%;
  width: 15vw;
  height: 20vw;
  background-color: rgb(43, 49, 211);
  opacity: 0.3;
  border-radius: 20px;
}

.listContainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex: 1;
}
.shadow {
  position: absolute;
  height: 100%;
  background-color: black;
  margin-left: 1%;
  margin-top: 1%;
}

.messageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.frontpage2 {
  position: absolute;
  width: 15vw;
  height: 15vw;
  background-color: rgb(70, 221, 251);

  border-radius: 20px;
}
.backpage2 {
  position: absolute;
  margin-bottom: -1.5%;
  margin-left: -1.5%;
  width: 15vw;
  height: 15vw;
  background-color: rgb(43, 49, 211);
  opacity: 0.3;
  border-radius: 20px;
}

.card {
  margin-top: 20px;
  position: absolute;
  height: 100%;
  will-change: transform, height, opacity;
  width: 90%;
}

.cell {
  border-radius: 10px;
  height: 100%;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  /* text-transform: uppercase; */
  /* padding: 10px; */
}

.details {
  height: 100%;
  position: relative;
  width: 100%;
  /* border-radius: 10px; */
}

.image {
  margin-right: 30px;
  margin-left: 30px;
}

.messageStyle {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.messageStyle > p {
  z-index: 1;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

@keyframes sizing {
  from {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}

.image {
  animation-name: sizing;
  animation-iteration-count: infinite;
  animation-duration: 1.4s;
  animation-direction: alternate;
}
